<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-1 mb-4 border-bottom bg-success"
  >
    <span class="fs-4 text-dark text-center g-2 display-4">NHÀ NGHỈ ĐẠT Ý</span>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      @for (item of menuItems; track $index) {
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none text-light"
        [routerLink]="[item.path]"
        routerLinkActive="active"
        >{{ item.displayName }}</a
      >
      }
    </nav>
  </div>
</header>
