<div class="row row-cols-auto justify-content-center align-items-center g-3">
  <div class="col-auto">
    <label for="room-number" class="col-form-label">Phòng</label>
    <select
      class="form-select"
      id="room-number"
      aria-label="room-number"
      [(ngModel)]="selectedRoom"
    >
      @for (room of rooms; track $index) {
      <option [ngValue]="room">{{ room.number }}</option>
      }
    </select>
  </div>
  <div class="col-auto">
    <label for="booking-date" class="col-form-label">Ngày đặt</label>

    <input
      type="date"
      class="form-control"
      placeholder="booking-date"
      aria-label="Ngày đặt"
      [(ngModel)]="bookingDate"
    />
  </div>
  <div class="col-auto">
    <label for="booking-time" class="col-form-label">Giờ đặt</label>

    <input
      type="time"
      class="form-control"
      placeholder="booking-time"
      aria-label="booking-time"
      [(ngModel)]="bookingTime"
    />
  </div>
  <div class="col-auto">
    <label for="prepaid" class="col-form-label">Đặt cọc</label>
    <input
      type="number"
      class="form-control"
      placeholder="Số tiền"
      aria-label="price"
      [(ngModel)]="prepaid"
    />
  </div>
  <div class="col-auto">
    <label for="prepaid" class="col-form-label">Thông tin liên hệ</label>
    <input
      type="text"
      class="form-control"
      aria-label="contact"
      [(ngModel)]="contactInfo"
    />
  </div>
  <div class="col-auto align-self-end">
    <button
      type="submit"
      [disabled]="!valid"
      class="btn btn-warning"
      style="margin-left: 16px"
      (click)="add()"
    >
      Thêm
    </button>
  </div>
</div>
