<div class="input-group">
  <span class="input-group-text bg-success text-light">Tên</span>
  <select
    class="form-select"
    id="product-type"
    aria-label="product"
    [(ngModel)]="selectedProduct"
  >
    @for (product of products; track $index) {
    <option [ngValue]="product">{{ product.name }}</option>
    }
  </select>
  <span class="input-group-text bg-success text-light" style="margin-left: 16px"
    >Giá tiền</span
  >
  <input
    type="number"
    class="form-control"
    placeholder="Giá"
    aria-label="Giá"
    [(ngModel)]="selectedProduct.price"
  />

  <span class="input-group-text bg-success text-light" style="margin-left: 16px"
    >Số lượng</span
  >
  <input
    type="number"
    class="form-control w-10"
    placeholder="Số lượng"
    aria-label="quantity"
    [(ngModel)]="orderLine.quantity"
  />
  <div class="btn-group">
    <button
      type="submit"
      class="btn btn-warning"
      style="margin-left: 16px"
      (click)="addOrderLine()"
    >
      Thêm
    </button>
  </div>
</div>
