<div class="row row-cols-auto g-3 align-items-center justify-content-center">
  <div class="col-auto">
    <label class="col-form-label">Tên</label>
    <select
      class="form-select"
      id="product-type"
      aria-label="product"
      [(ngModel)]="selectedProduct"
    >
      @for (product of products; track $index) {
      <option [ngValue]="product">{{ product.name }}</option>
      }
    </select>
  </div>
  <div class="col-auto">
    <label class="col-form-label">Giá tiền</label>
    <input
      type="number"
      class="form-control"
      placeholder="Giá"
      aria-label="Giá"
      [(ngModel)]="selectedProduct.price"
    />
  </div>
  <div class="col-auto">
    <label class="col-form-label">Số lượng</label>
    <input
      type="number"
      class="form-control w-10"
      placeholder="Số lượng"
      aria-label="quantity"
      [(ngModel)]="orderLine.quantity"
    />
  </div>
  <div class="col-auto align-self-end">
    <button
      type="submit"
      class="btn btn-warning"
      style="margin-left: 16px"
      (click)="addOrderLine()"
    >
      Thêm
    </button>
  </div>
</div>
