<h1 class="text-center text-danger">
  THÔNG TIN KHÁCH LƯU TRÚ
  <span class="text-success">PHÒNG {{ room.number }}</span>
</h1>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <label class="my-1 mr-2 text-primary"><h4>Giấy tờ tùy thân</h4></label>
  <div class="row row-cols-auto g-1">
    <div class="col">
      <div class="input-group">
        <input
          id="idNumber"
          type="number"
          class="form-control"
          placeholder="CCCD số"
          formControlName="idNumber"
          typeaheadOptionField="idNumber"
          (typeaheadOnSelect)="onSelect($event)"
          autofocus
        />
        @if(customerForm.get('idNumber')?.valid) {
        <div class="input-group-text text-success">
          <i class="bi bi-check-lg"></i>
        </div>
        }
      </div>
      <div
        *ngIf="customerForm.get('idNumber')?.invalid"
        class="form-text text-danger"
      >
        <b>Bắt buộc</b>
      </div>
    </div>

    <div class="col">
      <input
        type="datetime"
        class="form-control"
        placeholder="Ngày Cấp"
        formControlName="issuedDate"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Nơi cấp"
        formControlName="issuedPlace"
        [ngbTypeahead]="search"
      />
    </div>
  </div>
  <label class="my-1 mr-2 text-info"><h4>Thông tin cá nhân</h4></label>
  <div class="row row-cols-auto g-1">
    <div class="col-3">
      <div class="input-group">
        <input
          id="lastName"
          type="text"
          class="form-control"
          placeholder="Họ và Tên"
          formControlName="name"
          typeaheadOptionField="name"
        />
        @if(customerForm.get('name')?.valid) {
        <div class="input-group-text text-success">
          <i class="bi bi-check-lg"></i>
        </div>
        }
      </div>
      <div
        *ngIf="customerForm.get('name')?.invalid"
        class="form-text text-danger"
      >
        <b>Bắt buộc</b>
      </div>
    </div>

    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Ngày Sinh"
        formControlName="birthDate"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Nơi Sinh"
        formControlName="birthPlace"
        [ngbTypeahead]="search"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Quốc Tịch"
        formControlName="nationality"
      />
    </div>
  </div>
  <label class="my-1 mr-2 text-success"><h4>Thông tin liên hệ</h4></label>
  <div class="row row-cols-auto g-1">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Số nhà, đường"
        formControlName="addressLine1"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Xã, Huyện"
        formControlName="addressLine2"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Tỉnh"
        formControlName="city"
        [ngbTypeahead]="search"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Quốc Gia"
        formControlName="country"
      />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="Số ĐT"
        formControlName="phone"
      />
    </div>
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg mx-1 bi bi-floppy"
      [disabled]="!customerForm.valid"
      type="submit"
      aria-label="Submit customer information"
    ></button>
    <button
      type="button"
      class="btn btn-outline-info btn-lg mx-0 bi bi-arrow-repeat"
      (click)="onClear()"
      aria-label="Clear form"
    ></button>
    <button
      type="button"
      [routerLink]="['/']"
      class="btn btn-outline-danger btn-lg mx-1 bi bi-x-lg"
      aria-label="Clear form"
    ></button>
  </div>
</form>
{{ customerForm.value | json }}
{{ customerForm.status }}
