<div class="input-group">
  <span class="input-group-text bg-success text-light">Tên</span>
  <input
    type="text"
    class="form-control"
    placeholder="Nhập tên"
    aria-label="Tên"
    [(ngModel)]="product.name"
  />

  <span class="input-group-text bg-success text-light" style="margin-left: 16px"
    >Giá tiền</span
  >
  <input
    type="number"
    class="form-control"
    placeholder="Nhập giá"
    aria-label="price"
    [(ngModel)]="product.price"
  />
  <span class="input-group-text bg-success text-light" style="margin-left: 16px"
    >Loại</span
  >
  <select
    class="form-select"
    id="product-type"
    aria-label="product-type"
    [(ngModel)]="product.type"
  >
    <option value="0" selected>Thức uống</option>
    <option value="1">Thức ăn</option>
    <option value="2">Dịch vụ phòng</option>
    <option value="3">Giá giờ</option>
    <option value="4">Phụ thu</option>
    <option value="5">Giảm giá</option>
  </select>
  <div class="btn-group">
    <button
      type="submit"
      [disabled]="!valid"
      class="btn btn-primary"
      style="margin-left: 16px"
      (click)="addProduct()"
    >
      Thêm
    </button>
  </div>
</div>
