<dashboard-status></dashboard-status>
<h3 class="text-center text-danger">BÁO CÁO</h3>
<shared-date-range-picker
  (dateRange)="getDateRange($event)"
></shared-date-range-picker>

@if(dateRange) {
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button class="text-danger" ngbNavLink>Báo cáo</button>
    <ng-template ngbNavContent>
      <dashboard-total-report
        [totalOrders]="totalOrders"
        [totalPayments]="totalPayments"
        [totalPrepaids]="totalPrepaids"
      ></dashboard-total-report>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button class="text-primary" ngbNavLink>Tiền phòng</button>
    <ng-template ngbNavContent>
      <shared-order-report
        *ngIf="orders.length > 0"
        [orders]="orders"
      ></shared-order-report>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button class="text-warning" ngbNavLink>Thanh toán</button>
    <ng-template ngbNavContent>
      <dashboard-daily-report
        *ngIf="prepaids.length > 0"
        [payments]="prepaids"
        [tableClass]="'border-warning table-warning'"
        (deleted)="deletePayment($event)"
      ></dashboard-daily-report>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button class="text-success" ngbNavLink>Thu/chi</button>
    <ng-template ngbNavContent>
      <dashboard-daily-report
        *ngIf="payments.length > 0"
        (deleted)="deletePayment($event)"
        [payments]="payments"
      ></dashboard-daily-report>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <button class="text-info" ngbNavLink>Đặt phòng</button>
    <ng-template ngbNavContent>
      <dash-bookings
        [bookings]="bookings"
        (deleted)="deleteBooking($event)"
      ></dash-bookings>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
}
