<div class="card text-center" style="margin: 8px">
  <div class="card-header bg-info">
    <b>{{ room.type | RoomType }}</b>
  </div>
  <div
    class="card-body"
    [class]="{
      occupied: room.status == 1,
      'bg-light': room.status == 0
    }"
  >
    <h1 class="card-title">{{ room.number }}</h1>
    <p
      class="card-text"
      [ngClass]="room.status == 1 ? 'text-light' : 'text-success'"
    >
      <span
        ><b>{{ room.status | RoomStatus }}</b></span
      >
    </p>
  </div>
  <div
    class="card-footer"
    [class]="{
      'bg-primary': room.status == 0,
      'bg-light': room.status == 1
    }"
    style="padding: 0px"
  >
    <button
      tooltip="Nhận Phòng"
      *ngIf="room.status == 0"
      class="btn btn-primary w-100"
      [routerLink]="['/customer/room/', room.id]"
    >
      <i class="bi bi-vector-pen"></i>
    </button>
    <div *ngIf="room.status == 1" class="btn-group w-100" role="group">
      <button
        tooltip="Đổi phòng"
        class="btn btn-success"
        (click)="updateRoomStatus()"
      >
        <i class="bi bi-arrow-left-right"></i>
      </button>
      <button
        tooltip="Thông tin khách lưu trú"
        type="button"
        class="btn btn-primary"
        [routerLink]="['/customer', room.customerId]"
      >
        <i class="bi bi-person-badge-fill"></i>
      </button>
      <button
        type="button"
        tooltip="Thêm dịch vụ"
        class="btn btn-warning"
        [routerLink]="['/order', room.orderId]"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-cart-plus-fill"></i>
      </button>
      <button
        type="button"
        class="btn btn-info"
        tooltip="Báo cần dọn phòng, đã dọn phòng"
        (click)="updateRoomStatus()"
      >
        <i class="bi bi-stars"></i>
      </button>
      <button
        type="button"
        tooltip="Trả phòng"
        class="btn btn-danger"
        [routerLink]="['/receipt', room.orderId]"
      >
        <i class="bi bi-receipt"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Chọn phòng muốn đổi</h4>
    <button type="button" class="close pull-right" aria-label="Hủy">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="btn-group">
      <div class="col">
        <ng-container *ngFor="let room of rooms; let i = index">
          <label
            *ngIf="room.status !== 0"
            class="btn btn-primary"
            btnCheckbox
            style="margin-left: 10px; margin-right: 10px"
            [tabindex]="i"
            (click)="changeRoom(room)"
            role="button"
            >{{ room.number }}
          </label>
          <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
