<div class="card text-center" style="margin: 8px">
  <div class="card-header bg-success text-light">
    <b>{{ room.type | RoomType }}</b>
  </div>
  <div
    class="card-body"
    [class]="{
      occupied: room.status == 1,
      'bg-light': room.status == 0
    }"
  >
    <h1 class="card-title">{{ room.number }}</h1>
    <p
      class="card-text"
      [ngClass]="room.status == 1 ? 'text-light' : 'text-success'"
    >
      <span
        ><b>{{ room.status | RoomStatus }}</b></span
      >
    </p>
  </div>
  <div
    class="card-footer"
    [class]="{
      'bg-primary': room.status == 0,
      'bg-light': room.status == 1
    }"
    style="padding: 0px"
  >
    <button
      tooltip="Nhận Phòng"
      *ngIf="room.status == 0"
      class="btn btn-primary bi bi-vector-pen w-100"
      [routerLink]="['/customer/room/', room.id]"
    ></button>
    <div
      *ngIf="room.status !== 0"
      class="btn-group w-100 bg-danger"
      role="group"
    >
      <button
        tooltip="Đổi phòng"
        class="btn btn-success bi bi-arrow-left-right"
        (click)="updateRoomStatus()"
      ></button>
      <button
        tooltip="Thông tin khách lưu trú"
        type="button"
        class="btn btn-primary bi bi-person-badge-fill"
        [routerLink]="['/customer', room.customerId]"
      ></button>
      <button
        type="button"
        tooltip="Thêm dịch vụ"
        class="btn btn-warning bi bi-cart-plus-fill"
        [routerLink]="['/order', room.orderId]"
        routerLinkActive="router-link-active"
      ></button>
      <button
        type="button"
        tooltip="Trả phòng"
        class="btn btn-danger bi bi-receipt"
        [routerLink]="['/receipt', room.orderId]"
      ></button>
    </div>
  </div>
</div>
