<div
  class="card text-center"
  style="margin: 8px"
  [ngClass]="room.status == 0 ? 'border-success' : 'border-danger'"
>
  <div
    class="card-header text-light"
    [ngClass]="room.status == 0 ? 'bg-success' : 'bg-danger'"
  >
    <b>{{ room.type | RoomType }} - {{room.rate | number}}đ</b>
  </div>
  <div
    class="card-body"
    [class]="{
      'bg-light': room.status == 0,
      'occupied-room': room.status == 1,
      'bg-warning': room.status == 3 || room.status == 4,
      'bg-info': room.status == 2,
    }"
  >
    <h1 class="card-title">{{ room.number }}</h1>

    <p
      class="card-text"
      [ngClass]="room.status == 1 ? 'text-light' : 'text-success'"

    >
      <span><b>{{ room.status | RoomStatus }} </b></span>
    </p>
    
  </div>
  <div
    class="card-footer"
    [class]="{
      'bg-success': room.status == 0,
      'bg-light': room.status == 1,
    }"
    style="padding: 0px"
  >
    <button
      ngbTooltip="Nhận Phòng"
      *ngIf="room.status == 0"
      class="btn btn-success btn-lg w-100"
      [routerLink]="['/customer/room/', room.id]"
    >
      Nhận khách <span class="bi bi-box-arrow-in-right"></span>
    </button>
    <div
      *ngIf="room.status !== 0"
      class="d-flex flex-row mb-0 justify-content-center"
      role="group"
    >
      <button
        ngbTooltip="Đổi phòng"
        class="btn btn-info btn-lg bi bi-arrow-left-right w-25"
        placement="top"
        [hidden]="room.status == 4"
        (click)="changeRoom.emit(room)"
      ></button>
            <button
        ngbTooltip="Khách ra/vào"
        class="btn btn-light btn-lg w-25 bi bi-arrow-bar-left"
        [ngClass]="{
          'bi bi-arrow-bar-right': room.status == 1,
        }"
        placement="top"
        [hidden]="room.status == 4"
        (click)="updateCustomerOutStatus()"
      ></button>
      <button
        ngbTooltip="Thông tin khách lưu trú"
        placement="top"
        type="button"
        [hidden]="room.status == 4"
        class="btn btn-primary btn-lg bi bi-person-badge-fill w-25"
        [routerLink]="['/customer', room.customerId]"
      ></button>
      <button
        type="button"
        ngbTooltip="Báo phòng dơ/sạch"
        placement="top"
        class="btn btn-danger bi bi-stars w-25"
        [class]="{ 'w-100': room.status == 4 }"
        (click)="updateCleaningStatus()"
      ></button>
      <button
        type="button"
        ngbTooltip="Hóa đơn"
        placement="top"
        [hidden]="room.status == 4"
        class="btn btn-warning btn-lg bi bi-cart-check text-light w-25"
        [routerLink]="['/orders', room.orderId]"
        routerLinkActive="router-link-active"
      ></button>
    </div>
  </div>
</div>
