<h3 class="text-center text-danger">THÔNG TIN KHÁCH LƯU TRÚ</h3>
<shared-date-range-picker
  (dateRange)="getDateRange($event)"
></shared-date-range-picker>
@if (customers.length > 0) {
<table class="table table-bordered table-striped">
  <thead>
    <tr class="text-start">
      <th scope="col">STT</th>
      <th>Thời gian</th>
      <th scope="col">Tên khách</th>
      <th class="text-center" scope="col">CCCD số</th>
    </tr>
  </thead>
  <tbody>
    @for (customer of customers; track $index) {
    <tr class="text-start">
      <th scope="row">{{ $index + 1 }}</th>
      <td>{{ customer.checkInTime | date : "dd/MM/yyyy HH:mm:ss" }}</td>
      <td class="text-center">{{ customer.name }}</td>
      <td class="text-center">{{ customer.idNumber }}</td>
    </tr>
    }
  </tbody>
</table>

}

